* { margin:0; padding:0; }
body, input {
    font-family:helvetica, arial, sans-serif;
    font-size:24px;
    color:#333;
    line-height:1.5em;
}
a:link, a:visited {
  color:#CA3F93;
  text-decoration:none;
}
a:hover {
  color:#00A5F1;
}
label { margin-right:.5em;}
input { padding:.5em 0; }
form { margin:1em auto; display:block; }
h1, h2 {
  font-family: 'Cabin Sketch', cursive;
}
input[type='submit'] {
  display:none;
}
ul {
  padding:0 0 0 1em;
}
img {
  max-width:800px;
  display:block;
  margin:1em auto;
}
input[type="text"] { width: 100%; margin-bottom:.5em; }
input[type="submit"], select { font-size:36px; }
#container {
    width: 800px;
    margin:1em auto;
}
#foot {
  border-top:1px dashed #ccc;
  font-size:70%;
  text-align:right;
}
#filter {
  text-align:right;
}

.ny { font-weight:bold;letter-spacing:-1px; color:#312D30; }
.ny-1 { font-size:70%; }
.ny-2 { font-size:120%; letter-spacing:-2px; }
.ny-3 { font-size:140%; letter-spacing:-2px; }
.ny-4 { font-size:110%; letter-spacing:-5px; }